*{
    font-family: Helvetica;
    font-weight: 600;
}
/*  */

.card{
    box-shadow: rgba(138, 137, 137, 0.35) 0px 5px 15px;
}

/* #email{
    border: 0;
    box-shadow: none;
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #000000;
    border-radius: 0;
} */
#fp{
    margin-bottom: 10rem;
}

.form-group{
  background-color:rgb(252, 242, 230);
  margin-top: .5rem;
  /* padding: 1rem; */
}
.btn{
    width: 20rem !important;
}
a{
   
    font-size: 13px;
    
}
 
